 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   text-decoration: none !important;
   scroll-behavior: smooth;

 }

 body {
   width: 100%;
   /* padding-top: 80px; */
 }

 /* //////////////////////////////////////////header start  */
 .layout {
   min-height: 50px;
   background-color: #f8b864;
   width: 100%;
   color: white;
   z-index: 1;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 15px;
   z-index: 100;
 }

 .layout .upper {
   display: flex;
 }

 .layout .upper p {
   padding-top: 15px;
   text-align: center;
 }

 .layout .upper i {
   padding-top: 17px;
   margin: 0 8px;
 }

 header .nav-menu a:hover,
 .card a:hover,
 .data-items a:hover {
   color: #f8b864 !important;
   border-bottom: 3px solid #f8b864;
 }

 .dropdown-menu a:hover {
   border: none !important;

 }

 .layout {
   min-height: 50px;
   background-color: #f8b864;
   width: 100%;
   color: white;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 15px;
   position: relative;
   z-index: 10;
 }

 header {
   position: sticky;
   top: 0;
   z-index: 1000;
   width: 100%;
   box-shadow: 0 4px 10px rgba(0, 0, 0, .10);
 }

/* back to top button */
 .back-to-top-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.back-to-top-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.back-to-top-btn:hover {
    transform: translateY(-5px);
}

 /* ////////////////////////////////////////////////////Home section start */
 .custom-btn {
   width: 50px;
   height: 50px;
   background-color: rgba(255, 255, 255, 0.2);
   color: white;
   transition: all 0.4s ease;
   opacity: 0;
 }

 .custom-carousel:hover .custom-btn {
   background-color: rgb(63, 62, 62);
   opacity: 1;
 }

 .carousel-control-prev-icon,
 .carousel-control-next-icon {
   display: none;
 }

 .carousel-item {
   position: relative;
 }

 .carousel-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   z-index: 10;
   text-align: center;
 }

 .carousel-content p {
   font-size: 14px;
   margin: 0;
 }

 .carousel-content h1 {
   font-size: 55px;
 }

 .back-up,
 .back-down {
   color: #fff;
   opacity: 0;
   animation: slideUp 1.5s ease-out forwards;
   animation-delay: 0.5s;
 }

 @keyframes slideUp {
   0% {
     opacity: 0;
     transform: translateY(30px);
   }

   100% {
     opacity: 1;
     transform: translateY(0);
   }
 }

 .back-down {
   animation: slideDown 1.5s ease-out forwards;
 }

 @keyframes slideDown {
   0% {
     opacity: 0;
     transform: translateY(-30px);
   }

   100% {
     opacity: 1;
     transform: translateY(0);
   }

 }

 .slider-heading {
   font-family: 'Jost', sans-serif;
   font-size: 62px;
   font-weight: 700;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .letter-effect span {
   display: inline-block;
   opacity: 0;
   transform: translateX(30px);
   filter: blur(5px);
   animation: fadeInLetter 0.6s forwards;
   animation-delay: var(--d);
 }

 @keyframes fadeInLetter {
   to {
     opacity: 1;
     transform: translateX(0);
     filter: blur(0);
   }
 }

 .shadow-box{
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }

 .cards-overlay {
   position: relative;
   z-index: 10;
   margin-top: -100px;
 }

 .card {
   border: none;
   border-radius: 10px;
   transition: transform 0.3s ease;
   cursor: pointer;
 }

 .card p {
   color: grey;
 }

 .card a {
   color: rgb(24, 23, 23);
 }

 .card:hover {
   transform: translateY(-10px);
 }


 /* ////////////////////////////////////////////////////causes section start */
 .causes-title {
   position: relative;
   display: block;
   padding-bottom: 12px;
   margin-bottom: 20px;
 }

 .causes-title::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 60px;
   height: 4px;
   background-color: #f8b864;
   border-radius: 5px;
 }

 .card-text i {
   color: #f8b864 !important;
 }

 /* ////////////////////////////////////////////////////causes 2 section start */
 .causes {
   position: relative;
   min-height: 80vh;
   overflow: hidden;
   z-index: 1;

 }

 .circle {
   width: 400px;
   height: 400px;
   background-color: #f8b864;
   z-index: 1;
 }

 .left-circle {
   position: absolute;
   top: 0;
   left: -50px;
   opacity: 0.2;
   clip-path: circle(63.7% at 36% 36%);
 }

 .bottom-right-shape {
   position: absolute;
   width: 600px;
   height: 400px;
   background-color: #f8b864;
   opacity: 0.3;
   z-index: -1;
   bottom: 0;
   right: 0;

   clip-path: ellipse(61% 78% at 61% 82%);
 }

 .profile {
   border: 3px dashed #ddd;
 }

 /*///////////////////////////////////////////////////////////// causes3 section start  */
 .causes3 {
   background-image: url(./image/featured-bg.jpg);
 }

 .causes3 {
   background-image: url(./image/featured-bg.jpg);
   background-size: cover;
   background-position: center;
   min-height: 80vh;
   width: 100%;
   display: flex;
   align-items: center;
 }

 .causes-content {
   padding: 10px 0;
 }

 .video-container {
   cursor: pointer;
   transition: 0.3s;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .video-container img {
   width: 100%;
   height: auto;
   object-fit: cover;
 }

 .play-button i {
   font-size: 24px;
   width: 80px;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent !important;
   border: 5px solid rgba(255, 255, 255, 0.2);
 }

 .play-button i:hover {
   background-color: rgba(97, 95, 95, 0.39) !important;
 }

 /* /////////////////////////////////////////////////////// team section */
 .content p i,
 .data-items i {
   color: #f8b864;
   margin-right: 5px;
 }

 .img-wrapper {
   position: relative;
   overflow: hidden;
 }

 .team-img {
   transition: all 0.5s ease-in-out;
   transform: scale(1);
 }

 .hover-text {
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
   text-align: center;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 70px 0 15px 0;
   opacity: 0;
   visibility: hidden;
   transition: all 0.4s ease-in-out;
   transform: translateY(20px);
 }

 .hover-text h3 {
   color: #f8b864;
   font-size: 20px;
   font-weight: 500;
 }

 .hover-text h3 span {
   display: block;
   font-size: 14px;
   color: #fff;
 }

 .team-member:hover .team-img {
   transform: scale(1.1);
 }

 .team-member:hover .hover-text {
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
 }

 /* //////////////////////////////////////////////////////////////counters section   */
 .counters {
   background-image: url(./image/counters-bg.jpg);
   background-size: cover;
   background-position: center;
   min-height: 60vh;
   width: 100%;
   display: flex;
   align-items: center;
 }

 .item {
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   font-weight: 200;
   margin: 3em;
 }

 /* //////////////////////////////////////////////////////contact section   */

 .data-items a {
   color: white;
   line-height: 2em;
 }

 /*/////////////////////////////////////////////////////////////// stories section  */
 .stories .card:hover {
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

 }

 /* ////////////-/////////////////////////// logo section  */
 .logo-slider-container {
   overflow: hidden;
   white-space: nowrap;
   position: relative;
   background: white;
 }

 .logo-track {
   display: flex;
   width: calc(200px * 12);
   /* (Logo width * total logos) */
   animation: scrollLogos 20s linear infinite;
 }

 .logo-item {
   width: 200px;
   flex-shrink: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
 }

 .logo-item img {
   width: 120px;
   filter: grayscale(100%);
   opacity: 0.6;
   transition: 0.3s;
 }

 .logo-item img:hover {
   filter: grayscale(0%);
   opacity: 1;
 }

 @keyframes scrollLogos {
   0% {
     transform: translateX(0);
   }

   100% {
     transform: translateX(calc(-200px * 6));
   }
 }

 .logo-track:hover {
   animation-play-state: paused;
 }

/*///////////////////////////////////////////////////////////// hero section start  */
 section {
   width: 100%;
   height: 70vh;
 }

 .hero {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
 }

 .hero {
   background-image: url(./image/hero-bg.jpg);
 }

 .container {
   max-width: 1140px !important;
 }

 .hero-content,
 .causes-content {
   padding: 10em 0;
 }

 .hero-content p,
 .causes-content p {
   margin: 0;
 }

 /*///////////////////////////////////////////////////////////// about section start  */
 .about{
  background-image: url(./image/page-header-bg.jpg);
  height: 50vh;
 }
/*///////////////////////////////////////////////////////////// event section start  */
.event{
  background-image: url(./image/slider-3.jpg);
  height: 50vh;
}

.event .hero-content .d-flex{
   gap: 30px !important;
}